/* css variables */
:root {
        --href-visited-color: #0e11bb;
      }
      

/* Fall back styling */

*{box-sizing: border-box;}

body {
        margin: 0px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 15px;
        line-height: 2;
        /* background-color: white; */
        padding-left: 20px;
}

h1 {
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 0;
        /* background-color: green; */
        padding: 20px;
        /* border-style: solid; */
      }
      
      h2 {
        font-size: 24px;
        font-weight: 700;
      }
      
      h3 {
        font-size: 18px;
        font-weight: 700;
      }


/* general header for all pages */
.page-header {
        /* height: 50px;
        background-color: #4d4d4d; */
        display: flex;
        width: 100%;
        padding: 20px; 
        border-bottom: 2px solid rgba(164, 160, 160, 0.3);    
      }

.page-header__item {
     height: 50px;
     width: 50px;   
flex: 0 1 200px;
}

.page-header__item:last-child {
        flex-grow: 1;
        text-align: right;
        padding-right: 40px;
      }
      .navigation-list {
        list-style-type: none;
}

.navigation-list li {
        display: inline-block;
        margin-left: 15px;
}
.navigation-list__item--active {
        text-decoration: none;
      }


a:hover, a:focus, a:active {
        text-decoration: none;
}
a:visited {
color: var(--href-visited-color);
}
a {
        color: black;
}

/* Home.html */
.profile {
        max-width: 700px;
        margin: 0 auto;
        line-height: 1.5;
        padding: 80px;
      }

.profile__portrait {
        float: left;
        width: 250px;
        margin-right: 40px;
        border-radius: 50%;
        margin-bottom: 30px;
        
      }


/* Work.html */
.grid {
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        
      }

.grid__item {
background-color: lightgray;
margin-bottom: 20px;
font-size: 10px;
padding: 10px;
padding-bottom: 20px;
}

/* Footer for home.html and Projects.html */

.page-footer {
        clear: both;
        display: flex;       
        flex-direction: column;
        text-align: center;
    }

.paragraph-footer{
        margin: 0;
        
}

/* About page  */
.about {
        padding: 90px;
        margin: 0 auto;
        text-align: center;
}
.about_ul_list{
        padding: 0;
}
.about_list {
        list-style: none;        
}

.button {
        /* overwrites browser defaults and resets the border */
        
        border: none;
        display: inline-block;
        font-family: inherit;
        background-color: #357b70;
        color: white;
        text-decoration: none;
        padding: 10px;
        border-radius: 3px;
        border-bottom: 2px solid rgba(0, 0, 0, 0.3);
        transition: 0.9s opacity
        
}

.button:hover, .button:focus {
        cursor: pointer;
        opacity: 0.8;
}

.berlin-illustration{
   
        width: 400px; 
        height: 300px;
}
.sun {
        /* shorter form */
        /* .sun {
                animation: 4s color-change infinite alternate linear;
              } */
        animation-duration: 4s;
        animation-name: color-change;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: linear;
        /* animation: sunmove 5s infinite; */
      }
      .cloud-front {
        animation: 30s cloud-move infinite alternate linear;
      }
      .cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}



/* contact.html */

.contact-form{
        padding-top: 30px;
}
input:focus{
        background-color: lightblue;
}


input[type=submit] {
        /* border: none; */
        background-color: #357b70;
        font-family: inherit;
        border-radius:10px; 
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;  
        color: white;
        border-bottom: 2px solid rgba(0, 0, 0, 0.3);
        /* border-left: 30px; */
}


input[type=submit]:hover, input[type=submit]:focus {
        cursor: pointer;
        opacity: 0.8;
}

@media all and (max-width: 500px) {
        .grid {
          grid-template-columns: 1fr;
        }
      }
@media all and (min-width: 500px) and (max-width: 750px){
.grid {
        grid-template-columns: 1fr 1fr;
}
}
@media all and (max-width: 750px) {
.grid {
        grid-gap: 10px;
}
.grid__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
}
h1 {
        font-size: 22px;
}
}

@keyframes color-change {
        0% {
          fill: #edc655;
        }
        50% {
          fill: #fcffad;
        }
        100% {
          fill: #f76414;
        }

      }
      @keyframes cloud-move {
        from {
          transform: translate(0, 50px);
        }
        to {
          transform: translate(200px, 50px);
        }
      }

      @keyframes cloud-move-reverse {
        from {
          transform: translate(446px, 48px);
        }
        to {
          transform: translate(100px, 48px);
        }
      }

      /* @keyframes sunmove {
        100% {transform: rotate(0deg);}
      } */