/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* css variables */

/* Fall back styling */

/* stylelint-disable-next-line declaration-block-single-line-max-declarations */
* { -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 2;

  /* background-color: white; */
  padding-left: 20px;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 0;

  /* background-color: green; */
  padding: 20px;

  /* border-style: solid; */
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

/* general header for all pages */
.page-header {
  /* height: 50px;
        background-color: #4d4d4d; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px;
  border-bottom: 2px solid rgba(164, 160, 160, 0.3);
}

.page-header__item {
  /* height: 50px; */
  width: 50px;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 200px;
  flex: 0 1 200px;
}

.page-header__item:last-child {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: right;
  padding-right: 40px;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.navigation-list__item--active {
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
}

a:visited {
  color: #0e11bb;
}

a {
  color: black;
}

/* Home.html */
.profile {
  max-width: 700px;
  margin: 0 auto;
  line-height: 1.5;
  padding: 70px;
}

.profile__portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;
  margin-bottom: 30px;
}

/* Work.html */
.grid {
  padding: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.grid__item {
  background-color: lightgray;
  margin-bottom: 20px;
  font-size: 10px;
  padding: 10px;
  padding-bottom: 20px;
}

/* Footer for home.html and Projects.html */

.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.paragraph-footer {
  margin: 0;
}

.social-media {
  padding: 10px;
}

/* About page  */
.about {
  padding: 90px;
  margin: 0 auto;
  text-align: center;
}

.about_ul_list {
  padding: 0;
}

.about_list {
  list-style: none;
}

.button {
  /* overwrites browser defaults and resets the border */

  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: #357b70;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.9s opacity;
  -o-transition: 0.9s opacity;
  transition: 0.9s opacity;
}

.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.8;
}

.berlin-illustration {
  width: 400px;
  height: 300px;
}

.sun {
  /* shorter form */

  /* .sun {
                animation: 4s color-change infinite alternate linear;
              } */
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-name: color-change;
  animation-name: color-change;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;

  /* animation: sunmove 5s infinite; */
}

.cloud-front {
  -webkit-animation: 30s cloud-move infinite alternate linear;
  animation: 30s cloud-move infinite alternate linear;
}

.cloud-back {
  -webkit-animation: 34s cloud-move-reverse infinite alternate linear;
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/* contact.html */

.contact-form {
  margin: auto;
  padding: 20px;
  text-align: left;
  max-width: 250px;
  background-color: lightgrey;
}

input:focus {
  background-color: lightblue;
}

input[type=email] {
  width: 100%;
}

input[type=tel] {
  width: 100%;
}

input[type=submit] {
  /* border: none; */

  background-color: #357b70;
  font-family: inherit;
  border-radius: 10px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);

  /* border-left: 30px; */
}

input[type=submit]:hover,
input[type=submit]:focus {
  cursor: pointer;
  opacity: 0.8;
}

@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: 22px;
  }
}

@-webkit-keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

@-webkit-keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
    transform: translate(0, 50px);
  }

  to {
    -webkit-transform: translate(200px, 50px);
    transform: translate(200px, 50px);
  }
}

@keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
    transform: translate(0, 50px);
  }

  to {
    -webkit-transform: translate(200px, 50px);
    transform: translate(200px, 50px);
  }
}

@-webkit-keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
    transform: translate(446px, 48px);
  }

  to {
    -webkit-transform: translate(100px, 48px);
    transform: translate(100px, 48px);
  }
}

@keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
    transform: translate(446px, 48px);
  }

  to {
    -webkit-transform: translate(100px, 48px);
    transform: translate(100px, 48px);
  }
}

/* @keyframes sunmove {
        100% {transform: rotate(0deg);}
      } */
